# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Testing & coverage
.pytest_cache/
.coverage
coverage_report.xml
htmlcov/

# Type checker
.pyright/

# Editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# MkDocs build output
public/
site/
